body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.screen{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

audio {
  display: none;
}

.menu {
  color: #fff;
  margin-left: 4em;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.menu h1 {
  font-size: 4em;
  letter-spacing: 30px;
  display: block;
  margin-bottom: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.menu h3 {
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #fff;
}

.menu h3::before,
.menu h3::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3em;
  background: #fff;
  height: 3px;
  transform: translateY(-50%)
}

.menu h3::before {
  left: 0;
}

.menu h3::after {
  right: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li{
  margin: 1em 0;
}

.menu li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.infobox {
  display: none;
  padding: 40px;
  border: 5px ridge rgb(118, 118, 118, 0.9);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  list-style: none;
  color: white;
  background-color: rgb(118, 118, 118, 0.9);
  position:absolute;
  text-align: center;
  z-index: 1;
  left:35%;
  width: 50vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.setup {
  display: none;
  padding: 40px;
  border: 5px ridge rgb(118, 118, 118, 0.9);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  list-style: none;
  color: white;
  background-color: rgb(118, 118, 118, 0.9);
  position:absolute;
  text-align: center;
  z-index: 2;
  left:35%;
  width: 50vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.blur {
  display: none;
  padding: 40px;
  text-align: center;
  margin: auto;
  list-style: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position:absolute;
  text-align: center;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.contact {
  display: none;
  padding: 40px;
  border: 5px ridge rgb(118, 118, 118, 0.9);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  list-style: none;
  color: white;
  background-color: rgb(118, 118, 118, 0.9);
  position:absolute;
  text-align: center;
  z-index: 3;
  left:35%;
  width: 50vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ilovea {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.iloveb {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ilovec {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.info li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.info {
  display: inline-block;
  width: 50vh;
  top: 10px;
  margin: 0px;
  padding: 0;
  list-style: none;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.info li a {
  display: inline-block;
  margin: 0px;
  padding: 0;
  list-style: none;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 2.5em;
}



#sound {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  color: #fff;
  cursor: pointer;
}

.menu li a:hover,
#sound:hover {
  color: #dbdbdb;
}

@media screen and (max-width: 800px) {
  .menu h1 {
    font-size: 2em;
  }
  .menu h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .menu h1 {
    letter-spacing: 5px;
  }
  .menu h3::before,
  .menu h3::after {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .screen,
   video {
    height: 35em;
  }
}